<main>
  <h1>MioRain牌 - 短址產生器</h1>
  <form class="url-form" action="/shorten" method="post">
    <input type="url" class="url-input" name="original_url" placeholder="http://......" required>
    <input type="image" class="link-img"
      src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="img">
  </form>
</main>