body {
  background-color: rgb(199, 235, 252);
}

main {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.url-input {
  margin: auto;
  padding: 8px 12px;
  font-size: 22px
}

.url-output {
  background-color: rgb(167, 220, 255);
  padding: 10px;
  border: 1.8px solid rgb(55, 118, 255);
  border-radius: 12px;
  color: rgb(9, 78, 206)
}

h2 {
  margin: 8px;
}

.link-img {
  margin: 20px auto;
  height: 30px;
  display: block;
}

.error-message {
  margin: auto;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}